*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: #121212;
}

.container a{
    color: aliceblue;
    background-color: blue;
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 0 30px;
}
header{
    background-color: rgb(73, 73, 73);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
.container #down{
    background-color: #121212;
    font-size: larger;
}
header p{
    color: white;
    font-size: 24px;
}
@media screen {
    300px{}
}
