body {
    background-image: url(drone.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 12px;

}
a {
    background: linear-gradient(to right, gray, white, gray);
    height: px;
    font-size: 34px;
    width: 230px;
    text-decoration: none;
    font-family:fantasy;
    color: black;
    box-shadow: 0 0 21px red;
    border-radius: 12vh;
    padding: 12px;
    text-align: center;
    transition: all 2s;
}
a:hover {
    color: aliceblue;
    background: linear-gradient(to right, #121212);
    text-shadow: 0 0 12px;
    box-shadow: 0 0 30px blue;
}
p {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pra {
    box-shadow: 0 0 3px white;
    color: aliceblue;
    translate: 1px -150px;
    padding: 12px;
    text-decoration: overline;
    

}
