body{
    margin: 0;
    padding: 0;
    background-color: #121212;
}
*{
    margin: 0;
    padding: 0;
}
header{
    color: white;
    padding: 14px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    background-color: rgba(74, 74, 110, 0.662);
}
#rashed{
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#instagram{
    text-decoration: none;
    font-family: fantasy;
    letter-spacing: 1px;
    background-color: ;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 0 1123px blue;
    border: 2px solid red;
    color: aliceblue;
}
.container{
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;


}
